<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neusoft.elmboot.generator.mapper.OrderTypeDictMapper">

    <resultMap id="BaseResultMap" type="com.neusoft.elmboot.generator.entity.OrderTypeDict">
            <id property="typeId" column="type_id" />
            <result property="typeName" column="type_name" />
            <result property="sortOrder" column="sort_order" />
            <result property="delTag" column="del_tag" />
            <result property="createTime" column="create_time" />
            <result property="updateTime" column="update_time" />
    </resultMap>

    <sql id="Base_Column_List">
        type_id,type_name,sort_order,del_tag,create_time,update_time
    </sql>
</mapper>
